#wrap {
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

#grid img{
	width: 200px;
}

.frame {
	cursor: move;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: rotate(0deg);
	}
	20% {
		-webkit-transform: rotate(8deg);
	}
	50% {
		-webkit-transform: rotate(-8deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

.wobble {
	-webkit-animation: wobble 5s infinite;
}